<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로고</h1>
    프로필 이미지: <img width="100" height="100" src="{{ request.user.image.url }}"><br>
    이름: {{ request.user.nickname }}<br>
    이메일 주소: {{ request.user.email }}<br>
    <hr>
    <a href="{% url 'accounts:myinfo_update' %}">내 정보 수정하기</a><br>
    <a href="{%url 'accounts:gearing' request.user.id %}">연동하기</a><br>
    <a href="{% url 'accounts:alarm' %}">알람 설정</a><br>
    <a href="{% url 'accounts:logout' %}">로그아웃</a><br>
    <hr>
    광고<br>
</body>
</html>